.draggable-item {
    opacity: 1;
    display: flex;
    justify-content: flex-start;

    &::before {
        position: absolute;
        border-left: 1px solid black;
        height: 100%;
        content: "";
        left: -16.8px;
        bottom: 0;
    }

    &:first-child::before {
        top: calc(50% - 7px);
    }

    &:last-child::before {
        bottom: calc(50% - -7px);
    }

    &__handle {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0 5px;
        border-radius: 4px 0 0 4px;
        background-color: #607d8b;
        outline: none;
        cursor: grab;
        margin-inline-start: 16px;
    }

    &--is-dragging {
        opacity: 0.2;
    }

    &--is-sorting {
        border: 1px solid red;
    }
}
