.collapsible {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon-container::after {
        content: "";
        border-top: 1px solid #263238;
        width: 100%;
        position: absolute;
        top: calc(50% - 1px);
        left: 16px;
    }

    &__icon-container::before {
        content: "";
        border-top: 1px solid #263238;
        width: 100%;
        position: absolute;
        display: flex;
        top: calc(50% - 1px);
        left: -16.8px;
    }
}

// :global(.sortable-tree__item):first-child {
//     .collapsible {
//         &__icon-container::before {
//             border-left: 1px solid #263238;
//             height: 100%;
//         }
//     }
// }
