$left-space: -15px;
$line-thickness: 1px;
$width: 14px;
$line-height-before: 1em;
$line-height-after: 100%;

.sortable-tree {
    &__item {
        position: relative;
        padding-bottom: 12px;
    }
}

.draggable-item {
    &__body {
        display: flex;
        align-items: center;
        padding: 6px 12px;
    }

    &--is-dragging {
        opacity: 1;
        border: 1px solid red;
    }
}
